<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/fantom/">FANTOM</a>
</div>
<%- include(`${partials}/quick`); -%>
<%- include(`${partials}/pool_details_modal`); -%>
